apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
- ../base

patchesStrategicMerge:
- deployment-patch.yaml
- ingress-patch.yaml

images:
- name: 741543764817.dkr.ecr.us-east-1.amazonaws.com/apm-backend
  newTag: dev

commonLabels:
  environment: dev
  
commonAnnotations:
  environment: dev
