apiVersion: 1

# Enable alerting
alerting:
  enabled: true
  
# Configure alert manager
alertmanager:
  enabled: true
  
# Configure notification channels
notifiers:
  - name: email-notifier
    type: email
    uid: email-uid
    settings:
      addresses: admin@example.com
      subject: APM Alert - {{ .GroupLabels.alertname }}
      
  - name: slack-notifier
    type: slack
    uid: slack-uid
    settings:
      url: https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK
      channel: "#alerts"
      username: Grafana
      title: APM Alert
      text: |
        {{ range .Alerts }}
        *Alert:* {{ .Annotations.summary }}
        *Description:* {{ .Annotations.description }}
        *Status:* {{ .Status }}
        {{ end }}

# Configure data sources for alerting
datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    isDefault: true
    
  - name: Tempo
    type: tempo
    uid: tempo
    url: http://tempo:3200
